h3 {
    color: aqua; }

h4 {
    background-color: blue; }

/*body{
    background: #A9A9A9;
    padding-top: 30px;
}
.main-section{
    padding: 15px;
    background:#f1f1f1;
}
.custom-file-control::after {
    content: "Choose file...";
}
.custom-file-control::before {
    content: "Browse";
}*/