{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2> Lista sin estilos de Bootstrap </h2>
        <ul>
            <li>Curso Wordpress</li>
            <li>Curso PrestaShop</li>
            <li>Curso Magento</li>
        </ul>

        <h2> Lista con estilos de Bootstrap </h2>
        <ul class="list-inline">
            <li class="list-inline-item">Curso Wordpress</li>
            <li class="list-inline-item">Curso PrestaShop</li>
            <li class="list-inline-item">Curso Magento</li>
        </ul>

        <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </blockquote>
        <blockquote class="blockquote text-center">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </blockquote>
        <blockquote class="blockquote bg-dark">
            <p class="mb-0 text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </blockquote>
        
        <h1 class="text-center"> Imágenes </h1>

        <figure class="figure">
            <img src="{{ asset('assets/img/bavarian-forest.jpg') }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <img src="{{ asset('assets/img/bavarian-forest.jpg') }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
            <img src="{{ asset('assets/img/bavarian-forest.jpg') }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
    </div><!-- content container -->
{% endblock %}
