{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .item {
            background: #4EF04E;
            text-align: center;
            width: 150px;
            height: 30px;
            border: 1px solid white;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container bg-danger">
        <div class="bg-info" style="height:100vh">
            <div class="item float-left">Wordpress</div>
            <div class="item float-left">Prestashop</div>
            <div class="item float-left">Android</div>
            <div class="item float-right">PWA</div>
            <div class="item float-right">Symfony PHP</div>
        </div>
    </div><!-- container -->
{% endblock %}


