{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <section class="col-12">
                <ul class="nav justify-content-left">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link disabled">Contacto</a>
                    </li>
                </ul>
            </section>
        </div><!-- row -->
        
        <div class="row mt-3">
            <section class="col-12">
                <ul class="nav nav-tabs justify-content-end">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link disabled">Contacto</a>
                    </li>
                </ul>
            </section>
        </div><!-- row -->

        <div class="row mt-3">
            <section class="col-12">
                <ul class="nav nav-pills d-flex justify-content-around">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Cursos de programación</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link disabled">Contacto</a>
                    </li>
                </ul>
            </section>
        </div><!-- row -->

        

        <div class="row mt-3">
            <section class="col-12">
                <ul class="nav justify-content-left">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link disabled">Contacto</a>
                    </li>
                </ul>
            </section>
        </div><!-- row -->

        <div class="row mt-3 d-flex">
            <section class="col-12">
                <ul class="nav justify-content-left flex-column flex-sm-row">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link disabled">Contacto</a>
                    </li>
                </ul>
            </section>
        </div><!-- row -->
    </div><!-- content container -->
{% endblock %}
