{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .item {
            background: #4EF04E;
            text-align: center;
            width: 150px;
            height: 30px;
            border: 1px solid white;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container bg-danger">
        <div class="bg-info d-flex flex-column-reverse" style="height:100vh">
            <div class="item">Wordpress</div>
            <div class="item">Prestashop</div>
            <div class="item">Android</div>
            <div class="item">PWA</div>
            <div class="item">Symfony PHP</div>
        </div>
    </div><!-- container -->
{% endblock %}


