{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        img {
            width: 100%;
            height: 200px;
            max-height: 200px;
        }
    </style>
{% endblock %}
{% block body_attrs %}
    data-spy="scroll" data-target="#navbar-site" data-offset="80"
{% endblock %}
{% block body %}
    <div class="container mt-3" id="services">
        <!-- ROW 1 -->
        <h2>Ordenar columnas</h2>
        <div class="row">
            <section class="col order-2 d-flex flex-column">
                <img class="order-1" src="{{ asset('assets/img/image.png') }}" alt="sample image">
                <h4 class="order-2">Columna 1</h4>
                <p class="order-3">We are <strong>specialized</strong> in <em>Bootstrap, CSS, HTML5,</em> and other tecs.</p>
            </section>
            <section class="col order-3 d-flex flex-column">
                <img class="order-3" src="{{ asset('assets/img/image.png') }}" alt="sample image">
                <h4 class="order-1">Columna 2</h4>
                <p class="order-2">Our therapeutic <span class="font-weight-bold">grooming</span> treatments help battle fleas, allergic dermatitis, and other challenging skin conditions.</p>
            </section>
            <section class="col order-1 d-flex flex-column">
                <img class="order-3" src="{{ asset('assets/img/image.png') }}" alt="sample image">
                <h4 class="order-1">Columna 3</h4>
                <p class="order-2">Wellness and senior exams, ultrasound, x-ray, and dental cleanings are just a few of our general health services.</p>
            </section>
        </div><!-- row -->
    </div><!-- container -->
{% endblock  %}